1_Containers/Packer/Ubuntu_18.04/iso/ubuntu-18.04.5-server-amd64.iso
1_Containers/Packer/Ubuntu_18.04/packer_cache/*
1_Containers/Vagrant/ubuntu_vagrant/ubuntu-18.04-virtualbox.box
1_Containers/Vagrant/ubuntu_vagrant/.vagrant/*
1_Containers/Vagrant/ubuntu_vagrant/nodes/*
Task_3/.idea/*
Task_3/Task_3/.idea/*
1_Containers/Packer/Ubuntu_18.04/output-virtualbox-iso/*
1_Containers/Packer/Ubuntu_18.04/ubuntu-18.04-virtualbox.box
1_Containers/Packer/ubuntu_qemu_18.04/packer_cache/*
1_Containers/Docker/Docker-compose/.mysql-data/*
